[submodule "config/zsh/plugins/cappuccin"]
	path = config/zsh/plugins/cappuccin
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule "config/tmux/plugins/tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "config/tmux/plugins/tmux-continuum"]
	path = config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "bin/kfc"]
	path = bin/kfc
	url = https://github.com/kezhenxu94/kfc.git
[submodule "config/vim/pack/vendor/start/vim-fugitive"]
	path = config/vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/vim/pack/vendor/opt/catppuccin"]
	path = config/vim/pack/vendor/opt/catppuccin
	url = https://github.com/catppuccin/vim.git
[submodule "config/vim/pack/vendor/start/vim-surround"]
	path = config/vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/vim/pack/vendor/start/copilot.vim"]
	path = config/vim/pack/vendor/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "config/zsh/plugins/zsh-syntax-highlighting"]
	path = config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
